/* Este será muy muy diferente */
h1{color: gainsboro; font-size: 16px;}

body{background-color: darkcyan;}

p{color: whitesmoke;}

#div1 {
    width: 13%;
    height: 100px;
    background-color: plum;
    color: white;
}

.rojo{
    color: orangered;

}

